<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola Virtual</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div id = "title-and-subtitle">
        <h1>Escola Virtual</h1>
    </div>
    <form method="post" action="#" th:action="@{/}">
            <h2>Formulário de Pré-Matrícula</h2>
                <br id="h2-br">
            <div id = "container">
            <div id = "personal-data">
                <h3>Dados Pessoais:</h3>
                <div>
                <label for="nome">Nome do Aluno:</label>
                <input class= "input" type="text" id="nome" name="nome"><br>
                </div>
                <div>
                <label for="data_nascimento">Data de Nascimento:</label>
                <input class= "input" type="date" id="data_nascimento" name="data_nascimento"><br>
                </div>
                <div>
                <label for="nomedamae">Nome da Mãe:</label>
                <input class= "input" type="text" id="nomedamae" name="nomedamae"><br>
                </div>
                <div>
                <label for="nomedopai">Nome do Pai:</label>
                <input class= "input" type="text" id="nomedopai" name="nomedopai"><br>
                </div>
                <div id = 'telefone'></div>
                        <label for="dddl">Telefone:</label>
                        <div class="internal-telefone">
                            <div class="telefone">
                                <label for="ddd" id = dddl>DDD:</label>
                                <input class="input-phone" type="number" id="ddd" name="ddd">
                            </div>
                            <div class="telefone">
                                <label for="numero">Número:</label>
                                <input class="input-phone" type="number" id="numero" name="numero">
                            </div>
                            <div class="telefone">
                                <label for="ramal">Ramal:</label>
                                <input class="input-phone" type="number" id="ramal" name="ramal"><br>
                            </div>
                        </div>
                <label for="email">E-Mail:</label>
                <input class= "input" type="text" id="email" name="email"><br>

            </div>
            <div id = "enrollment-information">
                <h3>Informações de Matricula:</h3>
                <label for="serie">Série:</label>
                <select id="serie" name="serie">
                    <option value="pre-escolar">Pré-Escolar</option>
                    <option value="fundamental-1">Ensino Fundamental - 1</option>
                    <option value="fundamental-2">Ensino Fundamental - 2</option>
                    <option value="medio">Ensino Médio</option>
                    <option value="tecnico">Ensino Técnico</option>
                    <option value="superior">Ensino Superior</option>
                </select><br><br>

                <label>Turno:</label><br>

                <div class = "check-button">

                <div>
                <input type="radio" id="morning" name="turno" value="morning">
                <label for="informatica">Manhã</label>
                </div>

                <div>
                <input type="radio" id="afternoon" name="turno" value="afternoon">
                <label for="afternoon">Tarde</label>
                </div>
                </div>

                <label>Atividades Extracurriculares:</label><br>
                <div class = "check2">
                <div >
                <input type="checkbox" id="informatica" name="atividades" value="informatica">
                <label for="informatica">Informática</label>
                </div>
                <div>
                <input type="checkbox" id="musica" name="atividades" value="musica">
                <label for="musica">Música</label>
                </div>
                <div>
                    <input type="checkbox" id="balet" name="atividades" value="balet">
                    <label for="balet">Balet</label>
                </div>
                <div>
                    <input type="checkbox" id="pintura" name="atividades" value="pintura">
                    <label for="pintura">Pintura</label>
                </div>
                <div>
                    <input type="checkbox" id="judo" name="atividades" value="judo">
                    <label for="judo">Judô</label>
                </div>
                <div>
                <input type="checkbox" id="futebol" name="atividades" value="futebol">
                <label for="futebol">Futebol</label>
                </div>
                </div>
                <br><br>
            </div>
        </div>
        <div id = "submitbuttons">
            <input type="submit" value="Enviar Formulário"> 
            <input type="submit" value="Limpar Campos">
        </div>
    </form>
</body>
</html>